* {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none
}

li {
	list-style: none
}

.toobar {
	width: 100%;
	height: 33px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5
}

.menu {
	width: 1239px;
	margin: 0 auto
}

.menus {
	width: 1239px;
	height: 33px;
	background: #f2f2f2;
	margin: 0 auto
}

.menu1 {
	float: left;
	font-family: "微软雅黑";
	line-height: 33px;
	font-size: 13px;
	width: 202px
}

.menu1 a {
	color: #ec3e7d;
	text-decoration: underline
}

.menu2 {
	float: left;
	margin-left: 250px;
	font-family: "微软雅黑";
	line-height: 33px;
	font-size: 9px;
	width: 750px
}

#sefacenter {
	float: left;
	width: 75px;
	position: relative;
	font-family: "微软雅黑";
	text-align: center
}

.zhanghu {
	text-align: center;
	float: left;
	width: 85px;
	cursor: pointer;
	font-size: 9px;
	position: relative;
	z-index: 1
}

.zhanghuul {
	float: left;
	width: 96px;
	height: 0;
	position: absolute;
	overflow: hidden;
	left: -12px
}

.zhanghu a {
	color: #696969;
	text-align: left
}

.zhanghu ul {
	line-height: 23px;
	background: #fff;
}

.zhanghu li {
	text-align: left;
	margin-left: 20px
}

.welcome {
	color: #696969;
	font-size: 9px
}

.welcome a {
	font-size: 9px
}

.gouwuche {
	text-align: center;
	float: left;
	line-height: 33px;
	width: 95px;
	cursor: pointer;
	line-height: 33px;
	position: relative;
	z-index: 1
}

.gouwucheimg {
	line-height: 33px
}

.gouwuche a {
	color: #696969
}

.gouwuchespan {
	width: 300px;
	height: 0;
	background: #fff;
	position: absolute;
	overflow: hidden;
	color: #696969
}

.empty {
	width: 200px
}

.shoucang {
	float: left;
	width: 75px;
	font-family: "微软雅黑";
	font-size: 9px;
	text-align: center;
	cursor: pointer
}

.shoucang a {
	color: #696969
}

.zhanneixin {
	float: left;
	width: 85px;
	text-align: center;
	cursor: pointer
}

.zhanneixin a {
	color: #696969;
	text-align: center
}

.jifencenter {
	float: left;
	font-size: 9px;
	font-family: "微软雅黑";
	width: 75px;
	text-align: center;
	cursor: pointer
}

.jifencenter a {
	color: #696969
}

.Globalsite {
	float: left;
	width: 85px;
	margin-left;
	font-family: "微软雅黑";
	font-size: 9px;
	text-align: center;
	cursor: pointer
}

.Globalsite a {
	color: #696969
}

.guanzhu {
	width: 120px;
	float: left;
	font-size: 9px;
	font-family: "微软雅黑";
	text-align: center;
	cursor: pointer;
	position: relative
}

.guanzhu a {
	color: #696969
}

.guanzhu img {
	margin-top: 5px;
	margin-left: 10px
}

.guanzhuimg {
	height: 100px;
	width: 100px;
	position: relative;
	left: 576px;
	top: 33px
}

#img1 {
	height: 100px;
	width: 100px;
	position: absolute;
	display: none
}

#img2 {
	height: 100px;
	width: 100px;
	position: absolute;
	display: none
}

.zhanghu img {
	margin-left: 3px
}

.logo {
	width: 1200px;
	margin: 0 auto
}

#ul1 li {
	font-family: "微软雅黑";
	font-size: 15px
}

.ul1_list {
	margin-left: 15px;
	float: left;
	line-height: 36px
}

.hui {
	color: #eee;
	float: left;
	line-height: 36px;
	margin-left: 15px
}

#hotli li a:link {
	color: #333
}

#hotli li a:hover {
	color: #ec3e7d
}

#ul1 li a:link {
	color: #000
}

#ul1 li a:hover {
	color: #ec3e7d
}

.helpe-rs {
	width: 90px;
	float: left;
	margin-right: 90px;
	margin-top: 16px;
	overflow: hidden;
	height: 150px
}

#bottominfolist ul {
	padding-top: 26px;
	padding-bottom: 26px;
	font-size: 12px
}

#bottominfolist ul li {
	font-family: "微软雅黑";
	font-size: 13px;
	color: #fff;
	float: left;
	margin-left: 5px;
	font-size: 12px
}

#bottominfolist ul li a {
	font-family: "微软雅黑";
	font-size: 13px;
	color: #fff
}

#midlist1 ul li a {
	display: block;
	margin-left: 30px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #d6d6d6
}

#midlist1 ul li a:hover {
	color: #fff
}

#midlist2 ul li a {
	display: block;
	margin-left: 30px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 13px;
	color: #d6d6d6
}

#midlist2 ul li a:hover {
	color: #fff
}

#midlist3 ul li a {
	display: block;
	margin-left: 30px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #d6d6d6;
	font-size: 13px
}

#midlist3 ul li a:hover {
	color: #fff
}

#men-fr dl dd {
	float: left;
	line-height: 40px;
	font-family: "微软雅黑"
}

.icon {
	width: 25px;
	height: 16px;
	display: inline-block;
	margin-left: 3px;
	margin-bottom: -1px;
	background: url("../images/top_hot_icon.png") no-repeat
}

.menu2 div:hover {
	background: #fff;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear
}

#men-fr dl dd {
	float: left
}

#men-fr dl dd {
	display: inline-block;
	float: left;
	padding: 0 30px 0 0;
	margin-right: 30px;
	border-right: 1px solid #858585;
	margin-left: -1px;
	text-align: center;
	line-height: 27.62px;
	height: 27.62px
}

#men-fr dl dd img {
	float: left;
	width: 25px;
	height: 26px
}

#men-fr dl dd a {
	color: #3e3e3e;
	font-size: 15px;
	font-family: "微软雅黑";
	margin-left: 5px
}

.zhanghuul li a:hover {
	color: #ec3e7d
}

#clubright ul li {
	width: 98px;
	height: 60px
}

#hotli li {
	text-align: left
}

#hotli li a:link {
	color: #333
}

#hotli li a:hover {
	color: #ec3e7d !important
}

#hotli li a {
	font-size: 13px;
	font-family: "微软雅黑";
	color: #333
}

.sidebar {
	width: 38px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 528;
	height: 100%
}

.sidebar-box {
	background: #4c4c4c;
	height: 100%;
	position: absolute;
	top: 0;
	width: 40px
}

.box_one {
	position: absolute;
	top: 40%;
	left: 0;
	margin-top: -190px;
	z-index: 2
}

.sidecarts-explain-rs {
	width: 38px;
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	padding-bottom: 10px
}

.sidecarts-explain-rs a {
	color: #fff;
	font-size: 12px;
	display: block;
	width: 20px;
	margin: 0 auto
}

.mui-mbar-tab {
	position: relative;
	left: 0;
	width: 38px;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	text-align: center;
	z-index: 9;
	margin-top: 10px
}

.sidecart {
	padding: 15px 0;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
	margin: 10px auto;
	height: 90px;
	text-align: center
}

.sidecart-text a {
	color: #fff;
	font-size: 12px;
	display: block;
	width: 20px;
	margin: 0 auto
}

.sidecart-text b {
	background: #ec3e7d;
	line-height: 13px;
	padding: 0 3px;
	min-width: 12px;
	display: inline-block;
	border-radius: 10px;
	text-align: center
}

.sidecart-text b span {
	color: #fff;
	font-size: 9px;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 2px
}

.sidecart:hover {
	background: #ec3e7d
}

.mui-mbar-tab a {
	color: #fff
}

.box_two {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1
}

.sideup {
	padding: 15px 0 0;
	text-align: center
}

.sideup-text a {
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	color: #fff;
	text-align: center
}

.sidebar a {
	display: block
}

.sider-link:hover {
	background: #ec3e7d
}

.mui-mbar-tab-tip {
	position: absolute;
	top: 0;
	right: 38px;
	width: 0;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #ddd;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
	background: #494949;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 14px;
	overflow: hidden
}

.sidecart-cont {
	display: none;
	position: fixed;
	top: 0;
	right: 38px;
	background: #fff;
	width: 295px;
	padding-left: 15px;
	box-shadow: -0.3em 0 0.4em 0.04em rgba(0, 0, 0, .2);
	height: 100%
}

.cart-conttitle {
	height: 35px;
	line-height: 35px;
	border-bottom: 1ps solid #eaeaea;
	font-size: 15px;
	position: relative;
	text-align: left
}

.btn-close {
	position: absolute;
	right: 10px;
	top: 8px;
	border: 0;
	background: 0
}

.sidecart-list {
	height: 90%;
	max-height: 750px;
	overflow-y: auto
}

.ui-sidecart-cont {
	padding-left: 0;
	width: 300px;
	text-align: left
}

#member-fr1_inner {
	background: #fff;
	padding: 50px;
	width: 700px;
	display: block
}

#member-fr1_inner_title {
	overflow: hidden;
	padding-bottom: 22px;
	border-bottom: 1px solid #ddd
}

#member-fr1_inner_title h2 {
	font-family: "微软雅黑";
	font-weight: 500;
	font-size: 20px;
	color: #414141;
	float: left
}

#member-fr1_inner_title_ico {
	width: 30px;
	height: 20px;
	float: left;
	padding: 2px 15px 5px 5px
}

#member-fr1_inner_title_ico img {
	width: 35px;
	height: 25px
}

#inner_desc {
	width: 100%;
	color: #888;
	height: 57px;
	border-bottom: 1px solid #ddd
}

.action {
	float: left;
	width: 25px;
	height: 55px
}

.inner_desc_title {
	height: 35px;
	font-weight: 400;
	font-size: 116.66667%;
	font-size: 13px;
	white-space: nowrap;
	float: left;
	text-align: left;
	color: #888;
	padding: 10px 0;
	text-indent: 40px;
	width: 493px;
	line-height: 35px;
	font-family: "微软雅黑"
}

.inner_desc_date {
	height: 35px;
	font-weight: 400;
	font-size: 116.66667%;
	font-size: 13px;
	white-space: nowrap;
	float: left;
	text-align: left;
	color: #888;
	padding: 10px 0;
	line-height: 35px;
	font-family: "微软雅黑"
}

#inner_bottom {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #888;
	width: 100%;
	height: 39px;
	cursor: pointer
}

#inner_bottom:hover {
	background: rgba(247, 247, 247, 1)
}

#inner_bottom a {
	color: #888
}

#check {
	width: 25px;
	float: left;
	padding-top: 0;
	padding-bottom: inherit;
	height: 35px;
	line-height: 37px
}

#cicre {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ec3e7d;
	float: left;
	line-height: 10px;
	margin: 12px 10px 0
}

#title {
	float: left;
	width: 463px;
	height: 35px
}

#title a {
	color: #3e3e3e;
	font-size: 15px;
	font-family: "微软雅黑";
	text-align: left;
	line-height: 35px;
	float: left;
	text-indent: 10px
}

#title a:hover {
	color: #ec3e7d
}

#time {
	width: 141px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: left;
	color: #888;
	font-family: "微软雅黑";
	font-size: 15px
}

#delete {
	float: left;
	width: 30px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding-top: 3px
}

.member-title h2,
.member-title2 h2 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #414141;
	font-weight: normal;
	line-height: 38px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 22px
}

.inner {
	padding: 50px
}

.gwc {
	background: url("../images/gouwuche2.png") no-repeat left;
	width: 40px;
	height: 38px;
	float: left;
	margin-right: 5px
}

.youhui {
	background: url("../images/youhui.png") no-repeat left;
	width: 40px;
	height: 38px;
	float: left;
	margin-right: 5px
}

.pingjia {
	background: url("../images/pingjia.png") no-repeat left;
	width: 40px;
	height: 38px;
	float: left;
	margin-right: 5px
}

.tips-m {
	background: url("../images/tips-m.png") no-repeat;
	background-position: -95px 0;
	display: inline-block;
	width: 50px;
	height: 60px;
	vertical-align: middle
}

.tips-m2 {
	text-align: center;
	padding: 20px 0 16px
}

.member-title2 {
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px
}

.member-tabs {
	border-bottom: 1px solid #9b9ba7;
	margin-top: 30px;
	padding-left: 10px
}

.member-tabs .active {
	background: white;
	margin-top: 0;
	margin-bottom: -1px;
	border-color: #9b9ba7;
	height: 39px;
	border: 1px solid #9b9ba7;
	border-bottom: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: inline-block;
	font-weight: 400
}

.member-tabs a em {
	color: #666;
	display: inline-block;
	padding: 8px 60px;
	font-size: 15px;
	font-style: normal
}

.tipimg-nodis {
	background: url("../images/tips-m.png");
	background-position: 10px -128px;
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle
}

#ul2 li:hover {
	background: #fff
}

#ul2 li:hover a {
	color: #ec3e7d
}

#ul2 li a {
	color: #fff
}

#ul2 li a:hover {
	color: #000
}

#ul2 {
	position: absolute;
	left: 0;
	top: 36px;
	z-index: 1;
	width: 190px;
	height: 420px;
	background: #fa3778;
	z-index: 113;
	margin: 0;
	padding: 0;
	display: none
}

#ul2 li {
	width: 190px;
	height: 52px;
	text-align: left;
	font-family: '微软雅黑';
	line-height: 51px;
	text-align: center;
	border-bottom: 1px dotted #fe7dab;
	color: #fff;
	position: relative;
	z-index: 10;
	font-size: 16px
}

.list_hide {
	width: 500px;
	height: 300px;
	background: #fff;
	border-left: 0;
	border: 1px solid #ec3e7d;
	position: absolute;
	left: 190px;
	top: 0;
	z-index: 5;
	display: none;
	color: #888;
	font-size: 13px;
	text-align: left
}

.menu1 {
	overflow: hidden;
	height: 34px
}

.zhanghuul {
	-webkit-box-shadow: 2px 2px 10px #909090;
	display: block
}

.gouwuchespan {
	-webkit-box-shadow: 2px 2px 10px #909090
}

.menu2 {
	color: #696969
}

#sefacenter a {
	color: #696969
}

#img1,
#img2 {
	-webkit-box-shadow: 2px 2px 10px #909090
}

.logo {
	position: relative;
	display: block;
	width: 1090px;
	height: 110px
}

.index {
	display: block;
	position: absolute;
	top: 20px
}

#search {
	width: 500px;
	height: 66px;
	position: absolute;
	left: 400px;
	top: 40px
}

#searchinput input {
	width: 340px;
	height: 30px;
	border: 3px solid #ec3e7d
}

#btn_search {
	width: 90px;
	height: 36px;
	background: #ec3e7d;
	position: absolute;
	top: 0;
	left: 345px;
	font-size: 16px;
	font-family: '微软雅黑';
	color: #fff;
	text-align: center;
	line-height: 36px;
	cursor: pointer
}

#key_words {
	width: 500px;
	height: 30px;
	position: absolute;
	top: 45px
}

#key_words a {
	font-size: 13px;
	font-family: '微软雅黑';
	border-right: 1px solid;
	text-align: center;
	color: #696969;
	margin-left: 10px
}

.page-rs {
	width: 1200px;
	height: 36px;
	margin: 0 auto;
	position: relative
}

#fenlei {
	width: 190px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 18px;
	font-family: '微软雅黑';
	background: #000;
	color: #fff;
	float: left
}

#ul1body {
	width: 770px;
	height: 36px;
	display: block;
	float: left;
	margin-left: 20px
}

#pinpaibox {
	width: 440px;
	height: 293px;
	position: absolute;
	top: 36px;
	z-index: 3;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 10px #909090;
	display: none
}

#club {
	width: 440px;
	height: 293px;
	position: absolute;
	top: 0;
	background: #fff;
	cursor: pointer;
	z-index: 3
}

.hot {
	width: 100%;
	height: 42px;
	line-height: 42px;
	display: block;
	text-align: left;
	font-size: 14px;
	font-family: '微软雅黑';
	text-indent: 25px;
	color: #ec3e7d;
	background: #EEE;
	cursor: pointer
}

#clubleft {
	display: block;
	width: 220px;
	height: 245px;
	position: absolute;
	left: 20px
}

#clubleftlist {
	display: block;
	width: 210px;
	height: 200px;
	position: absolute;
	top: 5px
}

#hotli {
	line-height: 25px;
	font-family: '微软雅黑';
	font-size: 13px;
	border-bottom: 1px dotted #909090
}

.allpinpai {
	display: block;
	width: 220px;
	height: 32px;
	position: absolute;
	top: 213px;
	text-align: center;
	line-height: 32px
}

#clubright {
	display: block;
	width: 200px;
	height: 260px;
	position: absolute;
	left: 240px;
	overflow: hidden;
	padding: 0 !important
}

#clubright ul li {
	float: left;
	border-left: 1px dotted #ddd;
	border-top: 1px dotted #ddd;
	margin-top: -1px
}

#banner {
	width: 100%;
	height: 2163px;
	background: #f2f2f2;
	position: relative
}

#background {
	display: block;
	width: 100%;
	height: 241px;
	background: url("../images/mem.jpg") no-repeat top center #000;
	margin: 0 auto
}

#background-bai {
	display: block;
	z-index: 1;
	opacity: 0.8;
	background: #fff;
	width: 100%;
	height: 40px;
	position: absolute;
	margin: 0 auto;
	top: 201px
}

#bgmen-fr {
	width: 1200px;
	height: 40px;
	position: relative;
	margin: 0 auto
}

#men-fr {
	width: 811px;
	height: 42px;
	position: absolute;
	left: 360px;
	display: block;
	top: 5px
}

#page {
	display: block;
	width: 1090px;
	height: 1860px;
	margin: 0 auto;
	position: relative
}

#member-fl {
	display: block;
	position: absolute;
	width: 253px;
	height: 765px;
	background: #494f4f;
	float: left;
	top: -80px;
	z-index: 3
}

#top {
	display: block;
	width: 253px;
	height: 80px;
	z-index: 1;
	background: inherit;
	position: inherit;
	background: #404040
}

#top img {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 10px
}

#top span {
	font-family: '微软雅黑';
	font-size: 18px;
	color: #fff;
	float: left;
	margin-left: 10px;
	margin-top: 30px
}

.myac {
	display: block;
	width: 200px;
	height: 70px;
	position: absolute;
	top: 80px;
	color: #fff;
	font-family: '微软雅黑';
	font-size: 18px;
	line-height: 70px;
	left: 30px
}

.myac-zt {
	display: block;
	width: 200px;
	height: 40px;
	position: absolute;
	top: 150px;
	color: #fff;
	font-family: '微软雅黑';
	font-size: 13px;
	left: 30px;
	color: #9b9ba7;
	line-height: 40px
}

#midlist1 {
	display: block;
	width: 253px;
	height: 250px;
	position: absolute;
	top: 190px
}

.my-zl {
	display: block;
	width: 200px;
	height: 40px;
	position: absolute;
	color: #fff;
	font-family: '微软雅黑';
	font-size: 13px;
	left: 30px;
	color: #9b9ba7;
	line-height: 40px;
	top: 440px
}

#midlist2 {
	display: block;
	width: 253px;
	height: 130px;
	position: absolute;
	top: 480px
}

.myac-vip {
	display: block;
	width: 200px;
	height: 40px;
	position: absolute;
	color: #fff;
	font-family: '微软雅黑';
	font-size: 13px;
	left: 30px;
	color: #9b9ba7;
	line-height: 40px;
	top: 610px
}

#midlist3 {
	display: block;
	width: 253px;
	height: 120px;
	position: absolute;
	top: 650px
}

#member-fr1 {
	display: block;
	width: 800px;
	height: 300px;
	background: #fff;
	float: right;
	margin-top: 50px
}

#member-fr2 {
	display: block;
	width: 800px;
	height: 269px;
	background: #fff;
	float: right;
	margin-top: 50px
}

#member-fr3 {
	display: block;
	width: 800px;
	height: 721px;
	background: #fff;
	float: right;
	margin-top: 50px
}

#member-fr4 {
	display: block;
	width: 800px;
	height: 312px;
	background: #fff;
	float: right;
	margin-top: 50px
}

#helper {
	display: block;
	width: 100%;
	height: 397px;
	position: relative
}

#wuliu2 {
	width: 1200px;
	height: 126px;
	position: relative;
	margin: 0 auto;
	z-index: 1
}

#helperitem {
	display: block;
	width: 100%;
	height: 270px;
	background: #FFF;
	margin: 0 auto
}

#hlperitemrs {
	width: 1200px;
	height: 270px;
	display: block;
	margin: 0 auto;
	position: relative
}

#helpernav {
	display: block;
	float: left;
	width: 900px;
	height: 187px
}

.helpe-rs ul li {
	font-size: 14px;
	color: #222;
	font-family: '微软雅黑';
	font-weight: 600
}

.helpe-rs ul li a {
	font-size: 12px;
	color: #999;
	line-height: 25px;
	font-family: '微软雅黑';
	font-weight: normal
}

#clearfix {
	display: block;
	width: 900px;
	height: 66px;
	position: absolute;
	top: 189px;
	background: url("../images/2ba94eca9ab1e31bff8edcc9a4d60e764f051972.jpg") no-repeat
}

#helper-img {
	width: 300px;
	height: 197px;
	float: left
}

#helper-img-left {
	display: block;
	width: 128px;
	height: 177px;
	float: left;
	margin-top: 20px
}

#helper-img-right {
	display: block;
	width: 128px;
	height: 177px;
	float: left;
	margin-top: 20px;
	margin-left: 40px
}

#helper-img img {
	width: 128px;
	height: 128px
}

#helper-img span {
	display: block;
	font-family: '微软雅黑';
	font-size: 12px;
	font-weight: bold;
	color: #111;
	text-align: center;
	height: 22px;
	line-height: 22px
}

#bottom {
	width: 100%;
	height: 102px;
	background: #000;
	position: relative
}

#bottominfo {
	display: block;
	width: 1200px;
	height: 102px;
	margin: 0 auto
}

#bottominfospan {
	color: #fff;
	font-family: '微软雅黑';
	font-size: 12px;
	padding-top: 10px;
	display: block
}

.info {
	height: 126px;
	line-height: 126px;
	float: left;
	margin-left: 80px
}

#wuliuinfo2 {
	height: 126px;
	line-height: 126px
}

.info-1 {
	width: 182px;
	margin-left: 0
}

.info-2 {
	width: 162px
}

.info-3 {
	width: 168px
}

.info-4 {
	width: 194px
}

.info-5 {
	width: 166px
}

.info-1 .info-img {
	float: left;
	margin-top: 50px;
	margin-right: 10px
}

.info-1 .info-title {
	font-size: 20px;
	font-family: "微软雅黑";
	display: inline-block;
	float: right;
	height: 26px;
	line-height: 26px;
	margin-right: 23px;
	margin-top: 45px
}

.info-1 .info-inner {
	font-size: 13px;
	font-family: "微软雅黑";
	float: right;
	height: 17px;
	line-height: 17px;
	color: #999
}

.info-2 .info-img {
	float: left;
	margin-top: 50px;
	margin-right: 10px
}

.info-2 .info-title {
	font-size: 20px;
	font-family: "微软雅黑";
	display: inline-block;
	float: right;
	height: 26px;
	line-height: 26px;
	margin-right: 23px;
	margin-top: 45px
}

.info-2 .info-inner {
	font-size: 13px;
	font-family: "微软雅黑";
	float: right;
	height: 17px;
	line-height: 17px;
	color: #999
}

.info-3 .info-img {
	float: left;
	margin-top: 50px;
	margin-right: 10px
}

.info-3 .info-title {
	font-size: 20px;
	font-family: "微软雅黑";
	display: inline-block;
	float: right;
	height: 26px;
	line-height: 26px;
	margin-right: 30px;
	margin-top: 45px
}

.info-3 .info-inner {
	font-size: 13px;
	font-family: "微软雅黑";
	float: right;
	height: 17px;
	line-height: 17px;
	color: #999
}

.info-4 .info-img {
	float: left;
	margin-top: 50px;
	margin-right: 10px
}

.info-4 .info-title {
	font-size: 20px;
	font-family: "微软雅黑";
	display: inline-block;
	float: right;
	height: 26px;
	line-height: 26px;
	margin-top: 45px
}

.info-4 .info-inner {
	font-size: 13px;
	font-family: "微软雅黑";
	float: right;
	height: 17px;
	line-height: 17px;
	color: #999;
	margin-right: 10px
}

.info-5 .info-img {
	float: left;
	margin-top: 50px;
	margin-right: 10px
}

.info-5 .info-title {
	font-size: 20px;
	font-family: "微软雅黑";
	display: inline-block;
	float: left;
	height: 26px;
	line-height: 26px;
	margin-left: 12px;
	margin-top: 45px
}

.info-5 .info-inner {
	font-size: 13px;
	font-family: "微软雅黑";
	float: right;
	height: 17px;
	line-height: 17px;
	color: #999
}