
* {
	margin: 0;
	padding: 0
}
input{
	border:1px solid #ccc;
}
a {
	text-decoration: none
}

li {
	list-style: none
}

.toobar {
	width: 100%;
	height: 33px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5
}

.menu {
	width: 1239px;
	margin: 0 auto
}

.menus {
	width: 1239px;
	height: 33px;
	background: #f2f2f2;
	margin: 0 auto
}

.menu1 {
	float: left;
	font-family: "微软雅黑";
	line-height: 33px;
	font-size: 13px;
	width: 202px
}

.menu1 a {
	color: #ec3e7d;
	text-decoration: underline
}

.menu2 {
	float: left;
	margin-left: 250px;
	font-family: "微软雅黑";
	line-height: 33px;
	font-size: 9px;
	width: 750px
}

#sefacenter {
	float: left;
	width: 75px;
	position: relative;
	font-size: 13px;
	font-family: "微软雅黑";
	text-align: center
}

.zhanghu {
	text-align: center;
	float: left;
	width: 85px;
	cursor: pointer;
	font-size: 9px;
	position: relative
}

.zhanghuul {
	float: left;
	width: 96px;
	height: 0;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow: 2px 2px 10px #909090;
	left: -15px;
	overflow: hidden
}

.zhanghu a {
	color: #696969;
	text-align: left
}

.zhanghu ul {
	line-height: 23px;
	background: #fff
}

.zhanghu li {
	text-align: left;
	margin-left: 20px
}

.zhanghuul li a:hover {
	color: #ec3e7d
}

.welcome {
	color: #696969;
	font-size: 9px
}

.welcome a {
	font-size: 9px
}

.gouwuche {
	text-align: center;
	float: left;
	line-height: 33px;
	width: 95px;
	cursor: pointer;
	line-height: 33px;
	position: relative
}

.gouwucheimg {
	line-height: 33px
}

.gouwuche a {
	color: #696969
}

.gouwuchespan {
	width: 300px;
	height: 0;
	position: absolute;
	z-index: 1;
	-webkit-box-shadow: 2px 2px 10px #909090;
	box-shadow: 2px 2px 10px #909090;
	overflow: hidden;
	color: #696969
}

.empty {
	width: 200px
}

.shoucang {
	float: left;
	width: 75px;
	font-family: "微软雅黑";
	font-size: 9px;
	text-align: center;
	cursor: pointer
}

.shoucang a {
	color: #696969
}

.zhanneixin {
	float: left;
	width: 85px;
	text-align: center;
	cursor: pointer
}

.zhanneixin a {
	color: #696969;
	text-align: center
}

.jifencenter {
	float: left;
	font-size: 9px;
	font-family: "微软雅黑";
	width: 75px;
	text-align: center;
	cursor: pointer
}

.jifencenter a {
	color: #696969
}

.Globalsite {
	float: left;
	width: 85px;
	margin-left;
	font-family: "微软雅黑";
	font-size: 9px;
	text-align: center;
	cursor: pointer
}

.Globalsite a {
	color: #696969
}

.guanzhu {
	width: 120px;
	float: left;
	font-size: 9px;
	font-family: "微软雅黑";
	text-align: center;
	cursor: pointer;
	position: relative
}

.guanzhu a {
	color: #696969
}

.guanzhu img {
	margin-top: 5px;
	margin-left: 10px
}

.guanzhuimg {
	height: 100px;
	width: 100px;
	position: relative;
	left: 575px;
	top: 33px
}

#img1 {
	height: 100px;
	width: 100px;
	position: absolute;
	display: none;
	box-shadow: 2px 2px 10px #909090
}

#img2 {
	height: 100px;
	width: 100px;
	position: absolute;
	display: none;
	box-shadow: 2px 2px 10px #909090
}

.zhanghu img {
	margin-left: 3px
}

.main {
	width: 100%;
	height: 95px
}

.logo {
	width: 1090px;
	margin: 0 auto
}

.warp {
	width: 1090px;
	height: 492px;
	margin: 10px auto
}

.warpimg {
	padding-top: 40px;
	float: left
}

.formlogin {
	width: 420px;
	height: 492px;
	background: #fff;
	float: left;
	position: relative;
	-webkit-box-shadow: 2px 2px 10px #909090
}

.title {
	margin-top: 50px;
	margin-left: 30px;
	width: 380px;
	height: 22px;
	line-height: 22px
}

.titlespan {
	font-family: "微软雅黑";
	font-size: 20px
}

.rightspan {
	margin-left: 100px;
	font-size: 13px;
	font-family: "微软雅黑";
	height: 22px;
	line-height: 17px
}

.rightspan a {
	color: #ec3e7d
}

.zhanghao {
	width: 350px;
	height: 36px;
	display: block;
	position: absolute;
	top: 113px
}

.password {
	width: 350px;
	height: 36px;
	display: block;
	top: 178px;
	position: absolute;
	display: block
}

.remuber {
	width: 350px;
	height: 35px;
	top: 253px;
	display: block;
	font-family: "微软雅黑";
	position: absolute
}

.remuber a {
	color: #ec3e7d;
	font-size: 13px;
	font-family: "微软雅黑";
	margin-left: 10px
}

.inputspan {
	margin-left: 10px;
	font-size: 13px;
	line-height: 35px
}

.login {
	font-size: 18px;
	color: #FFF;
	font-family: "微软雅黑";
	text-align: center;
	width: 350px;
	background: #ec3e7d;
	height: 40px;
	line-height: 40px;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 313px
}

.otherlogin {
	width: 350px;
	height: 25px;
	font-family: "微软雅黑";
	font-size: 13px;
	display: block;
	position: absolute;
	top: 383px
}

.otherul {
	height: 55px;
	line-height: 55px;
	margin-top: 10px;
	position: absolute;
	top: 413px
}

.otherul li {
	width: 115px;
	display: block;
	float: left;
	cursor: pointer;
	text-align: center
}

.otherul li img {
	height: 35px;
	float: left;
	margin-top: 10px
}

.otherul a {
	font-size: 13px;
	font-family: "微软雅黑";
	line-height: 55px;
	color: #000;
	float: left
}

.zhanghao:hover {
	border: 1px sold;
	border-color: #f9a0b4;
	box-shadow: 0 0 5px #fbb4b0
}

.password:hover {
	border-color: #f9a0b4;
	box-shadow: 0 0 5px #fbb4b0
}

.menu2 div:hover {
	background: #fff;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear
}