/* 
* @Author: anchen
* @Date:   2017-06-22 17:50:40
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-24 08:08:46
*/

* {
    margin: 0;
    padding: 0;
    text-align: center;
}
html, body {
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}